{% extends 'base.html' %}
{% block title %}{{ nickname }}的首页{% endblock title%}
{% block head %}War of The Arrows{% endblock head%}
{% block script %}
    $('span').css({
        'font-size':'15px',
    })

    $('.personal_ul').css({
        'margin': '30px 10px'
    })

    $('li p').css({
        'font-size':'15px',
        'font-family':"SimHei"
    })

    $('.li_btn').css({
        'text-align':'center',
        'height':'44px',
    })

    $('#logout').click(function(){
        $.ajax({
            'url':'/personal',
            'type':'post',
            'data':{csrfmiddlewaretoken: '{{ csrf_token }}'},
            'datatype':'json',
        }).done(function(data){
            if(data.errmsg==0){
                window.location.href = '/'
            }
        })
    })

    $('#start_pve').click(function(){
        window.location.href = '/war/pve'
    })



{% endblock script%}

{% block menu_1 %}
    <a href="/index">{{ nickname }}</a>
{% endblock menu_1%}

{% block context %}
    <ul class="nav nav-pills nav-stacked personal_ul">
        <li><span class="label label-info span">最长生存时间</span></li>
        <li><p align='center'>{{ times }}</p></li>
        <li><span class="label label-info span">最高积分</span></li>
        <li><p align='center'>{{ score }}</p></li>
        <li><span class="label label-info span">最多击杀</span></li>
        <li><p align='center'>{{ kills }}</p></li>
        <li class="li_btn">
            <input class="btn btn-success leftbtn" type="button" value="PVE" id="start_pve">
            <input class="btn btn-success rightbtn" type="button" value="PVP" id="start_pvp">
        </li>
        <li class="li_btn">
            {% csrf_token%}
            <input class="btn btn-danger midbtn" type="button" value="退出" id="logout">
        </li>
    </ul>
{% endblock context%}