{% extends 'base.html' %}
{% block title %}注册{% endblock title%}
{% block script %}
    $('#register').click(function(){
        // 1.获取用户信息
        username = $('#username').val()
        password1 = $('#password1').val()
        password2 = $('#password2').val()
        nickname = $('#nickname').val()
        email = $('#email').val()
        // 2.确认两次密码是否输入正确
        if(username==''){
            alert('用户名不能为空!')
        }
        else if(password1==''){
            alert('密码不能为空!')
        }
        else if(password1!=password2){
            alert('请再次确认您的密码!')
        }
        else if(nickname==''){
            alert('昵称不能为空!')
        }
        else if(email==''){
            alert('邮箱不能为空!')
        }
        else{
            // 3.发起post ajax请求
            $.ajax({
                'url':'/register',
                'type':'post',
                'data':{'username':username, 'password':password1, 'nickname':nickname, 'email':email, csrfmiddlewaretoken: '{{ csrf_token }}',},
                'datatype':'json',
            }).done(function(data){
                if(data.errmsg == 0){
                    alert('注册成功！')
                    window.location.href = '/'
                }else{
                    alert(data.errmsg)
                }
            })
        }
    })
{% endblock script%}

{% block menu_1 %}
    <a href="#">注册</a>
{% endblock menu_1%}

{% block context %}
    <form class="input-group login_form" method="post">
        {% csrf_token%}
        <ul class="nav nav-pills nav-stacked menu_ul">
            <li>用户名:</li>
            <li><input type="text" class="form-control" aria-describedby="sizing-addon2" id="username"></li>
            <li>密码:</li>
            <li><input type="password" class="form-control" aria-describedby="sizing-addon2" id="password1"></li>
            <li>确认密码:</li>
            <li><input type="password" class="form-control" aria-describedby="sizing-addon2" id="password2"></li>
            <li>昵称:</li>
            <li><input type="text" class="form-control" aria-describedby="sizing-addon2" id="nickname"></li>
            <li>邮箱:</li>
            <li><input type="text" class="form-control" aria-describedby="sizing-addon2" id="email"></li>
            <li>
                <input class="btn btn-primary leftbtn" type="button" id="register" value="注册">
                <a href="/"><input class="btn btn-primary rightbtn" type="button" value="返回"></a>
            </li>
        </ul>
    </from>
{% endblock context%}