<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script type="text/javascript" src="static/js/jQuery-3.4.1.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/personal_main.css">
    <script type="text/javascript">
        $(function(){
            $('.col-xs-12').css({
                'text-align':'center',
            })

            $.ajax({
                'url':'/personal_handle',
                'type':'post',
                'datatype':'json',
                'data':'',
            }).done(function(data){
                for(var i=0;i<data['plane'].length;i++){
                    $('#plane_style').append("<li class='style_li'>飞机类型"+data['plane'][i]+"</li><br>")
                }
                for(var i=0;i<data['weapon'].length;i++){
                    $('#weapon_style').append("<li class='style_li'>武器类型"+data['weapon'][i]+"</li><br>")
                }
                $('.style_li').css({
                    'list-style':'none',
                    'text-align':'center',
                })
            })
            
            $('#begin').click(function(){
                location.href = '/war'
            })
        })
    </script>
</head>
<body class="background">
    <div class="row">
        <div class="col-xs-12">准备战斗吧!憨憨!</div>
        <div class="col-xs-6 plane">
            <p align="center">飞机选择</p>
            <ul id='plane_style'>
            </ul>
        </div>
        <div class="col-xs-6 weapon">
            <p align="center">武器选择</p>
            <ul id='weapon_style'>
            </ul>
        </div>
        <div class="col-xs-12">
            <input class="btn btn-info leftbtn" type="button" id="begin" value="进入战场">
            <a href="./index.html"><input class="btn btn-info rightbtn" type="button" id="back" value="退出"></a>
        </div>
</body>
</html>