<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script type="text/javascript" src="static/js/jQuery-3.4.1.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/register_main.css">
    <script type="text/javascript">
        $(function(){
            $('#register').click(function(){
                // 1.获取用户信息
                username = $('#username').val()
                password1 = $('#password1').val()
                password2 = $('#password2').val()
                truename = $('#truename').val()
                // 2.确认两次密码是否输入正确
                if(password1!=password2){
                    alert('请再次确认您的密码!')
                }
                else if(password1==''){
                    alert('密码不能为空!')
                }
                else if(truename==''){
                    alert('真实姓名不能为空!')
                }
                else{
                    // 3.发起post ajax请求
                    $.ajax({
                        'url':'/register_handle',
                        'type':'post',
                        'data':{'username':username,
                                'password':password1,
                                'truename':truename,
                                },
                        'datatype':'json',
                    }).done(function(data){
                        // 注册成功{'res':1}
                        // 注册失败{'res':0}
                        if(data.res == 0){
                            alert('用户名已被注册!')
                        }else{
                            alert('注册成功!')
                            window.location.href = '/index'
                        }
                })

                }


                
            })
        })
    </script>
</head>
<body class="background">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form class="input-group sign">
                <p align="center">请注册~</p>
                <p>用户名:</p>
                <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2" id="username">
                <p>密码:</p>
                <input type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon2" id="password1">
                <p>确认密码:</p>
                <input type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon2" id="password2">
                <p>真实姓名:</p>
                <input type="text" class="form-control" placeholder="Truename" aria-describedby="sizing-addon2" id="truename">
                <input class="btn btn-info leftbtn" type="button" id="register" value="注册">
                <a href="./index"><input class="btn btn-info rightbtn" type="button" name="register" value="返回"></a>
            </from>
        </div>    
    </div>
</body>
</html>