<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>战场</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script type="text/javascript" src="static/js/jQuery-3.4.1.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/war_main.css">
    
</head>
<body class="background">
    <div class="row map">
        <div class='war_map'>
            <img src="static/fonts/image/plane.png" alt="飞机" class='hero'>
            <div class='point'></div>
        </div>
    </div>



    <script type="text/javascript">

        function war_handle(){
            $.ajax({
                'url':'/war_handle',
                'type':'post',
                'datatype':'json',
                'data':'',
            }).done(function(data){
                $('.enemys').css({})
                $('.bullets').css({})
                $('.other_planes').css({})
                $('.enemys').remove()
                $('.bullets').remove()
                $('.other_planes').remove()

                // var war_map_width = $(window).width()
                // var war_map_top = $(window).height()
                var war_map_width = 400
                var war_map_height = 400
                var war_map_top = $('.map').offset().top
                var war_map_left = $('.map').offset().left

                map_left= (war_map_width-data.war_map)/2 - (data.left-data.war_map/2)
                map_top = (war_map_height-data.war_map)/2 - (data.top-data.war_map/2)

                $('.map').css({
                    'margin-top':'200px',
                    'width': war_map_width+'px',
                    'height': war_map_height+'px',
                })

                $('.war_map').css({
                    'left':map_left+'px',
                    'top':map_top+'px',
                    'width': data.war_map+'px',
                    'height': data.war_map+'px',
                })

                hero_left = data.left - 23
                hero_top =  data.top - 28.5
                $('.hero').css({
                    'left':hero_left+'px',
                    'top':hero_top+'px',
                    'transform':'rotate('+data.angle+'deg)',
                    'transform-origin':'50% 50%',
                    'position':'absolute',
                })
                $('.point').css({
                    'left':data.left+'px',
                    'top':data.top+'px',
                    'height':'3px',
                    'width':'3px',
                    'background-color':'red',
                    'z-index':999,
                    'position':'absolute',
                })


                // 敌机57*43  飞机46*57  子弹5*11
                function create_otherplane(num, left, top, angle){
                    $('.war_map').append("<img src='static/fonts/image/plane.png' alt='飞机' class = 'other_planes' id=otherplane"+num+">")
                    left = left - 23
                    top =  top - 28.5
                    $('#otherplane'+num).css({
                        'position':'absolute',
                        'left':left+'px',
                        'top':top+'px',
                        'transform':'rotate('+angle+'deg)',
                    }) 
                }

                function create_enemy(num, left, top, angle){
                    $('.war_map').append("<img src='static/fonts/image/enemy1.png' alt='敌机' class = 'enemys' id=enemy"+num+">")
                    left = left - 28.5
                    top =  top - 21.5
                    $('#enemy'+num).css({
                        'position':'absolute',
                        'left':left+'px',
                        'top':top+'px',
                        'transform':'rotate('+angle+'deg)',
                        'z-index':24+i,
                    }) 
                }

                function create_bullet(num, left, top, angle){
                    $('.war_map').append("<img src='static/fonts/image/bullet1.png' alt='子弹' class = 'bullets' id=bullet"+num+">")
                    left = left - 2.5
                    top =  top - 5.5
                    $('#bullet'+num).css({
                        'position':'absolute',
                        'left':left+'px',
                        'top':top+'px',
                        'transform':'rotate('+angle+'deg)',
                        'z-index':200+i,
                    }) 
                }


                if(data.other_planes!=''){
                    for(i in data.other_planes){
                        create_otherplane(i, data.other_planes[i].left, data.other_planes[i].top, data.other_planes[i].angle)
                    }  
                }

                if(data.enermys!=''){
                    for(i in data.enermys){
                        create_enemy(i, data.enermys[i].left, data.enermys[i].top, data.enermys[i].angle)
                    }  
                }

                if(data.bullets!=''){
                    for(i in data.bullets){
                        create_bullet(i, data.bullets[i].left, data.bullets[i].top, data.bullets[i].angle)
                    }  
                }



                if(data.life==false){
                    window.location.href = '/personal'
                    alert('您已坠毁!')
                }
            })
        }

        $(function(){
            $('.col-xs-2').css({
                'color':'white',
            })
            setInterval(war_handle,60)  
        })

        window.onunload=function(){
            $.ajax({
                'url':'/logout',
                'type':'post',
                'datatype':'json',
                'data':'',
            })
        }


        function move_ajax(direction){
            $.ajax({
                'url':'/plane_handle',
                'type':'post',
                'datatype':'json',
                'data':{'direction':direction},
            })       
        }

        $(window).keydown(function (event) {
            if(String.fromCharCode(event.which)=='A'){
                direction = 'left'
                move_ajax('left')
            }

            if(String.fromCharCode(event.which)=='D'){
                direction = 'right'
                move_ajax('right')
            }
        })
    </script>
</body>

</html>