<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GameControl</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script type="text/javascript" src="/static/js/jQuery-3.4.1.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">

</head>
<body class='background'>
    {% csrf_token%}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 title">
            <p class='title_p'>控制开关</p>
        </div>   
    </div>

    <div class="row">
        <div class="col-xs-4  col-xs-offset-1 col-sm-2 col-sm-offset-3 col-md-2 col-md-offset-3 col-lg-2 col-lg-offset-3 menu_div">
            <ul class="nav nav-pills nav-stacked menu_ul">
                <li role="presentation" class='menu active' id='menu0'><a href="#">测试页面</a></li>
            </ul>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" id='right_div'>
            <div class="div_right">
                <ul class="nav nav-pills nav-stacked personal_ul">
                    <li><span class="label label-info span">位置计算函数</span></li>
                    <li><input class="btn btn-info" type="button" value="" id="position_calc"></li>
                </ul>
            </div>
        </div>
        
    </div>

    <script type="text/javascript">
        $(function(){
            $('.row').css({
                'margin':0,
            })

            $('.div_right').css({
                'margin':'20px auto',
                'width':$('#right_div').innerWidth(),
                'height':'300px',
                'position':'absolute',
                'background-color':'white',
                'overflow':'hidden',
                'font-size':'18px',
            })
            
            var change_phone = window.matchMedia('(orientation: portrait)');
            function onMatchMediaChange(change_phone){
                if(change_phone.matches){
                    $('.div_right').css({
                        'width':$('#right_div').innerWidth(),
                    })
                }else{
                    $('.div_right').css({
                        'width':$('#right_div').innerWidth(),
                    })
                }
            }
            onMatchMediaChange(change_phone);
            change_phone.addListener(onMatchMediaChange)

            var state_position_calc = 0
            $.ajax({
                'url':'/war/gamecontrol',
                'type':'post',
                'data':{csrfmiddlewaretoken: '{{ csrf_token }}',},
                'datatype':'json',
            }).done(function(data){
                if(data.position_calc==true){
                    $('#position_calc').css({
                        'background-color':'green',
                    })
                    $('#position_calc').val('开启')
                    state_position_calc = 1
                }
                if(data.position_calc==false){
                    $('#position_calc').css({
                        'background-color':'red',
                    })
                    $('#position_calc').val('关闭')
                    state_position_calc = 0
                }
            })
            $('#position_calc').click(function(){
                $.ajax({
                    'url':'/war/pvp_calc',
                    'type':'post',
                    'data':{'state_position_calc':state_position_calc, csrfmiddlewaretoken: '{{ csrf_token }}',},
                    'datatype':'json'
                }).done(function(data){})
                    window.location.href = '/war/gamecontrol'
            })

        })

        
    </script>
</body>
</html>