{% extends 'base_war.html' %}
{% block title %}
    PVP
{% endblock title%}
{% block score_menu %}
    击杀数:0
{% endblock score_menu%}
{% block map %}
    <div class='glyphicon glyphicon-chevron-up hero'></div>
{% endblock map%}
{% block script %}
    var visoin_x = $('.vision').width()
    var visoin_y = $('.vision').height()
    $('.map').css({
        'left': (-500+visoin_x/2)+'px',
        'top': (-500+visoin_y/2)+'px',
    })
    $('.hero').css({
        'left':'493px',
        'top':'493px',
    })
    $('.row').css({
        'margin':0,
    })

    $('.logout').css({
        'margin-top':'3px',
        'margin-right':'30px',
        'float':'right',
    })


    // 箭头控制
    var direction = ''
    var upspeed = ''
    function control_ajax(direction, upspeed){
        $.ajax({
            'url':'/war/pvp',
            'type':'post',
            'datatype':'json',
            'data':{'direction':direction, 'upspeed':upspeed, csrfmiddlewaretoken: '{{ csrf_token }}',},
        })
    }
    $(window).keydown(function (event) {
        var key_down = String.fromCharCode(event.which)
        if(key_down == 'A' | key_down == '%'){
            direction = 'left'
        }
        if(key_down == 'D' | key_down == "'"){
            direction = 'right'
        }
        if(key_down == 'W' | key_down == '&'){
            upspeed = 'up'
        }
        if(key_down == 'J' | key_down == ' '){
            $.ajax({
                'url':'/war/pvp_createbullets',
                'type':'post',
                'datatype':'json',
                'data':{csrfmiddlewaretoken: '{{ csrf_token }}',},
            })
        }
    })
    $(window).keyup(function (event) {
        var key_down = String.fromCharCode(event.which)
        if(key_down == 'A' | key_down == '%'){
            if(direction == 'left'){
                direction = ''
            }
        }
        if(key_down == 'D' | key_down == "'"){
            if(direction == 'right'){
                direction = ''
            }
        }
        if(key_down == 'W' | key_down == '&'){
            upspeed = ''
        }
    })
    $(".vision").on("touchstart", function(e) {
        // 判断默认行为是否可以被禁用
        if (e.cancelable) {
            // 判断默认行为是否已经被禁用
            if (!e.defaultPrevented) {
                e.preventDefault();
            }
        }   
        startX = e.originalEvent.changedTouches[0].pageX
    }) 
    $(".vision").on("touchmove", function(e) {           
        // 判断默认行为是否可以被禁用
        if (e.cancelable) {
            // 判断默认行为是否已经被禁用
            if (!e.defaultPrevented) {
                e.preventDefault()
            }
        }               
        moveEndX = e.originalEvent.changedTouches[0].pageX
        X = moveEndX - startX
        startX = moveEndX
        if ( X < 0 ) {
            direction = 'left'
        }else if ( X > 0 ) {
            direction = 'right'
        }else if ( X = 0 ) {
            direction = ''
        }
    })


    function create_arrows(num, left, top, angle){
        $('.map').append("<div class = 'glyphicon glyphicon-chevron-up other_arrows' id=arrow"+num+"></div>")
        $('#arrow'+num).css({
            'z-index':100+num,
            'left':(left-7)+'px',
            'top':(top-7)+'px',
            'transform':'rotate('+angle+'deg)',
        }) 
    }

    function create_bullets(num, left, top, angle){
        $('.map').append("<div class = 'bullet' id=bullet"+num+"></div>")
        $('#bullet'+num).css({
            'left':(left-2.5)+'px',
            'top':(top-2.5)+'px',
            'transform':'rotate('+angle+'deg)',
            'z-index':500+num,
        }) 
    }
    // for(var i = 0; i < 20; i++){
    //     $('.map').append("<div class = 'glyphicon glyphicon-chevron-up other_arrows' id=arrow"+i+"></div>")
    //     $('#arrow'+i).css({
    //         'z-index':100+parseInt(i),
    //     })
    // }
    // for(var i = 0; i < 200; i++){
    //     $('.map').append("<div class = 'bullet' id=bullet"+i+"></div>")
    //     $('#bullet'+i).css({
    //         'z-index':500+parseInt(i),
    //     })
    // }
    function move_ajax(){
        $.ajax({
            'url':'/war/pvp',
            'type':'post',
            'datatype':'json',
            'data':{'direction':direction, 'upspeed':upspeed, csrfmiddlewaretoken: '{{ csrf_token }}',},
        }).done(function(data){
            console.log(data.my_arrow.left)
            if(data.killed==true){
                window.location.href = '/users/personal'
                alert('您已坠毁!')
            }
            $('.hero').css({
                'left':(data.my_arrow.left-7)+'px',
                'top':(data.my_arrow.top-7)+'px',
                'transform':'rotate('+data.my_arrow.angle+'deg)',
                'transform-origin':'50% 50%',
            })
            $('.map').css({
                'left': (-500+visoin_x/2-(data.my_arrow.left-500))+'px',
                'top': (-500+visoin_y/2-(data.my_arrow.top-500))+'px',
            })
            $('.bullet').remove()
            $('.other_arrows').remove()
            if(data.other_arrows!=''){
                for(i in data.other_arrows){
                    create_arrows(i, data.other_arrows[i].left, data.other_arrows[i].top, data.other_arrows[i].angle)
                }  
            }

            if(data.bullets!=''){
                for(i in data.bullets){
                    create_bullets(i, data.bullets[i].left, data.bullets[i].top, data.bullets[i].angle)
                }  
            }
        })
    }
    setInterval(move_ajax,60)



{% endblock script%}