<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pvp</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
    <script type="text/javascript" src="/static/js/jQuery-3.4.1.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">

</head>
<body class='background'>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 title_war">
            <div class='war_head' id='score_menu'>敬请期待！</div>
            <div class='war_head'><input class="btn btn-danger logout" type="button" value="退出" id="logout"></div>
        </div>   
    </div>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 vision">
        </div>   
    </div>

    <script type="text/javascript">
        $(function(){
            $('.logout').css({
                'margin-top':'3px',
                'margin-right':'30px',
                'float':'right',
            }) 
            $(".vision").on("touchstart", function(e) {
                // 判断默认行为是否可以被禁用
                if (e.cancelable) {
                    // 判断默认行为是否已经被禁用
                    if (!e.defaultPrevented) {
                        e.preventDefault();
                    }
                }   
                startX = e.originalEvent.changedTouches[0].pageX,
                startY = e.originalEvent.changedTouches[0].pageY;
            });  
            // function touch(){
                $(".vision").on("touchmove", function(e) {           
                    // 判断默认行为是否可以被禁用
                    if (e.cancelable) {
                        // 判断默认行为是否已经被禁用
                        if (!e.defaultPrevented) {
                            e.preventDefault();
                        }
                    }               
                    moveEndX = e.originalEvent.changedTouches[0].pageX,
                    moveEndY = e.originalEvent.changedTouches[0].pageY,
                    X = moveEndX - startX,
                    Y = moveEndY - startY;
                    if ( X < 0 ) {
                        console.log('左滑');                
                    }else if ( X > 0 ) {
                        console.log('右滑');    
                    }else if ( Y > 0) {
                        console.log('下滑');    
                    }else if ( Y < 0 ) {
                        console.log('上滑');    
                    }else{
                        console.log('单击');    
                    }
                    console.log(X)
                });
            // }
            // setInterval(touch,60) 
        })
        
        
        $('#logout').click(function(){
            window.location.href = '/users/personal'
        })
    </script>
</body>
</html>