
.plane{
	border:2px dashed green;
}

.weapon{
	border:2px dashed red;
}


.leftbtn{
    margin:10px auto 10px;
    position: relative;
    left:-50px;

}

.rightbtn{
    margin:10px auto 10px;
    position: relative;
    right:-50px;
}

.background{
    margin:0 auto;
    font-size: 15px;
    font-family:"Microsoft YaHei";
}