.background{
    margin:0 auto;
    font-size: 15px;
    font-family:"Microsoft YaHei";
}

.map{
	width: 800px;
	height: 600px;
	margin: 250px auto;
	/*background: url(../fonts/image/background3.gif);*/
	background-color: black;
	/*overflow: hidden;*/
}

.war_map{
	width: 1000px;
	height: 1000px;
	background-color: green;
	opacity:0.5;
}

.hero{
	z-index:25;
}

.test1{
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background:red;
	z-index: 30;
}
.test2{
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background:yellow;
	z-index: 32;
}